/*
 * Copyright (c) 2024 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
//#include <dt-bindings/zmk/rgb.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
 &kp A &kp B &kp C &kp D &kp E &none 
 &kp F &kp G &kp H &kp I &kp J &none
 &kp K &kp L &kp M &kp N &kp O &none
 &kp P &kp Q &kp R &kp S &kp T &none
 &kp U &kp V &kp W &kp X &kp Y &none
 &kp A &kp B &kp C &kp D &kp E &none
 &kp F &kp G &kp H &kp I &kp J &none
 &kp K &kp L &kp M &kp N &kp O &none
 &kp P &kp Q &kp R &kp S &kp T &none
 &kp U &kp V &kp W &kp X &kp Y &none
            >;
        };
    };
};
