if KSCAN

config SVAL_KSCAN
    bool "Svalboard KScan Driver"
    depends on DT_HAS_ZMK_KSCAN_SVAL_MATRIX_ENABLED
    default y

if SVAL_KSCAN

config ZMK_KSCAN_SVAL_MATRIX
    bool "Svalboard Matrix Scanning"
    default y
    select ZMK_KSCAN_GPIO_DRIVER
    select ZMK_KSCAN_DEBOUNCE_DRIVER

config ZMK_KSCAN_SVAL_MATRIX_THREAD_PRIORITY
    int "Thread priority"
    default -1
    help
      Priority of thread used by the driver to handle interrupts.

config ZMK_KSCAN_SVAL_MATRIX_THREAD_STACK_SIZE
    int "Thread stack size"
    default 768
    help
      Stack size of thread used by the driver.

endif # SVAL_KSCAN

endif # KSCAN
